body{font-family: 'Noto Sans KR', sans-serif;}
.noto{font-family: 'Noto Sans KR', sans-serif;}
.exo{font-family: 'Exo 2', sans-serif;}

.thin{font-weight:100;}
.light{font-weight:300;}
.medium{font-weight:500;}
.semiBold{font-weight:600;}
.bold{font-weight:700;}